In [ ]:
# Projet analyse de donnée

## préambule : Importation des packages

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

Matplotlib is building the font cache; this may take a moment.

In [6]:
df = pd.read_csv('../PB/data/death.csv')

In [7]:
df.head()

,TIME,GEO,UNIT,SEX,AGE,ICD10,Value,Flag and Footnotes
0,2001,France,Number,Males,Total,All causes of death (A00-Y89) excluding S00-T98,277 858,NaN
1,2001,France,Number,Males,Total,Certain infectious and parasitic diseases (A00...,5 347,NaN
2,2001,France,Number,Males,Total,Tuberculosis,545,NaN
3,2001,France,Number,Males,Total,Meningococcal infection,30,NaN
4,2001,France,Number,Males,Total,Viral hepatitis,471,NaN

In [8]:
print(df.head().to_markdown())

|    |   TIME | GEO    | UNIT   | SEX   | AGE   | ICD10                                               | Value   |   Flag and Footnotes |
|---:|-------:|:-------|:-------|:------|:------|:----------------------------------------------------|:--------|---------------------:|
|  0 |   2001 | France | Number | Males | Total | All causes of death (A00-Y89) excluding S00-T98     | 277 858 |                  nan |
|  1 |   2001 | France | Number | Males | Total | Certain infectious and parasitic diseases (A00-B99) | 5 347   |                  nan |
|  2 |   2001 | France | Number | Males | Total | Tuberculosis                                        | 545     |                  nan |
|  3 |   2001 | France | Number | Males | Total | Meningococcal infection                             | 30      |                  nan |
|  4 |   2001 | France | Number | Males | Total | Viral hepatitis                                     | 471     |                  nan |